@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 247 249 251;
    --foreground: 25 28 30;
    --primary: 9 20 38;
    --primary-foreground: 255 255 255;
    --border: 229 231 235;
    --input: 229 231 235;
    --ring: 9 20 38;
  }

  * {
    border-color: rgb(var(--border));
  }

  html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-inter antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-grotesk;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}